
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index is in home controler </h2>
<p>
    hello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\n
    hello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\n
    hello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\n
    hello this is line\nhello this is line \n hello this is line\nhello this is line\nhello this is line\nhello this is line\n
    hello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\n
    hello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\n
    hello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\n
    hello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\n
    hello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\n
    hello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\n
    hello this is line\nhello this is line\nhello this is line\nhello this is line\nhello this is line\n
</p>
